# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files

*__pycache__
*.py[cod]
*$py.class
*.idea
*.DS_STORE
*__pycache__
**/sprites
Enunciado.pdf
parametros_acciones.py
parametros_plantas.py
parametros_precios.py
**/mapas/mapa_1.txt
**/mapas/mapa_2.txt